.main{
    display: flex;
  
    
}

/* Estilos para o vídeo de fundo */
.video-container {
    position: relative;
    width: 100%;
   
  }
  
  .video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    
  }
  
  /* Estilos para o filtro */
  .video-container::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Defina a cor e a opacidade do filtro */
    z-index: 1;
  }
  
  /* Estilos para o conteúdo sobre o vídeo */
  .content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    
  }
  
  .content h1 {
    font-size: 71px;
    
  }
  
  .content p {
    font-size: 18px;
    color: #ffffff;
  }

  span{
    color:#fc5c65 ;
  }

  .input2{
    width: 317px;
    height: 47px;
    background-color: #ffffff1c;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem;
  }

  .input2:hover{
    background-color: #1f232c;
    border-bottom: 2px solid #ffff ;
    opacity: 90%;
  }

  .btn{
    width: 133px;
    height: 47px;
    border-radius: 30px;
    border: none;
    background-color: #fc5c65;
    color: #1f232c;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
  }
  
  .input2::placeholder{
    color: #ffffff;
  }

  .btn:hover{
    background-color: transparent;
    border: 2.5px solid #ffffff;
    color: #ffffff;
  }

  form{
    gap: 1rem;
    display: flex;
    align-items:center ;
  }

  @media (max-width: 780px){
    .content h1 {
        font-size: 30px;
        
      }

      .content p {
        font-size: 17px;
        
      }

      .btn{
        width: 96px;
        height: 41px;
      }

      .input2{
        width: 172px;
        height: 37px;
      }

      

     
      

  }